<h4>Welcome {{name}}
    <div class="chip right">
        <img src="{{img}}" alt="">{{name}}
    </div>
</h4>

{{#if (checkAdmin user)}}
    <div class="fixed-action-btn">
        <a href="/worlds/addWorld" class="btn-floating btn-large waves-effect waves-light blue">
        <i class="fas fa-plus"></i></a>
    </div>
{{/if}}

<h3 style="text-align: center;">Worlds</h3>

<div class="row">
    {{#each worlds}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{#if (checkAdmin ../user)}}
                    {{{editIcon ../name _id}}}
                {{/if}}
            </div>
            <div class="card-content center-align">
                <h4>
                    {{{lockIcon (worldStatus worldNumber ../user)}}}
                    World: {{worldNumber}}
                </h4>
                <h5>{{worldName}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                {{!-- <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/questions/user/{{user._id}}">{{user.firstName}}</a>
                </div> --}}
            </div>
            <div class="card-action center-align">
                {{#if (worldStatus worldNumber ../user)}}
                    <a href="/worlds/{{_id}}" class="btn blue">See Questions</a>
                {{else}}
                    <a  class="btn grey">Solve Previous to Unlock</a>
                {{/if}}
                
            </div>
        </div>
    </div>
    {{else}}
    <p>No worlds to display</p>
    {{/each}}
</div>