<h3>Edit world</h3>
<div class="row">
    <form action="/answers/{{answer._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        
        <div class="row">
            <div class="input-field">
                <input type="number" id="worldNumber" name="worldNumber" min="1" max="1000" value="{{answer.worldNumber}}">
                <label for="worldNumber">World Number</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field">
                <input type="number" id="questionNo" name="questionNo" min="1" max="1000" value="{{answer.questionNo}}">
                <label for="title">Question Number</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="points" name="points" min="1" max="1000" value="{{answer.points}}">
                <label for="points">Points</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="penalty" name="penalty" min="0" max="1000" value="{{answer.penalty}}">
                <label for="penalty">Penalty</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="ansCount" name="ansCount" min="0" max="1000" value="{{answer.ansCount}}">
                <label for="ansCount">No of Answers</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="ans" name="ans" value="{{answer.ans}}">
                <label for="ans">Answer</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/answers" class="btn orange">Cancel</a>
        </div>
    </form>
</div>