<div class="row">
    <div class="col s12 m8">
        <h3>{{question.title}}
            {{#if (checkAdmin user)}}
            <small>{{{ editIcon question.user user question._id false }}}</small>
            {{/if}}
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title center">Question : {{question.questionNo}}</span>
                <span >{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{question.body}}}
            </div>
        </div>
        <div class="card" id="carousel">
            <div class="carousel carousel-slider center">
                <div class="carousel-item red" href="#one!">
                    <img class="imgg" src="/img/5.jpeg" >
                </div>
                <div class="carousel-item amber white-text" href="#two!">
                    <img class="imgg" src="/img/2.jpeg" >
                </div>
                <div class="carousel-item green white-text" href="#three!">
                    <img class="imgg" src="/img/3.jpeg" >
                </div>
                <div class="carousel-item green white-text" href="#four!">
                    <img class="imgg" src="/img/4.jpeg" >
                </div>
                <div class="carousel-item green white-text" href="#five!">
                    <img class="imgg" src="/img/1.jpeg" >
                </div>
            </div>
        </div>
        <div class="card">
            <video width="400" controls>
                <source src="/video/1.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>
    </div>

    {{!-- submit card --}}
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card">
                <audio controls>
                    <source src="/audio/1.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="card-content">
                <span class="card-title">{{question.user.firstName}}</span>
                <img src="{{question.user.image}}" class="circle responsive-img img-small" >
            </div>
            <form action="" method="POST" class="card-action">
        
                <div class="row">
                    <div class="input-field">
                        <input type="text" id="ans" name="ans">
                        <label for="ans">Type your Answer here ...</label>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Save" class="btn">
                    <a class="btn orange">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>